<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <!-- 
      <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      -->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>

    <!-- To add UserNo to  Profile -->
    <profile>
      <properties>
        <add allowAnonymous="false" defaultValue="" name="EmpNo" readOnly="false" serializeAs="String" type="System.Int32"/>
      </properties>
    </profile>

    <!-- To enable Forms Authentication -->
    <authentication mode="Forms"/>
    <roleManager enabled="true"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>

  <!-- For JQuery Issue -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>

  <!-- Database Connectivity -->
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add connectionString="Data Source=(local);Initial Catalog=Lussis;Integrated Security=True" name="LocalSqlServer" providerName="System.Data.SqlClient"/>
    <add name="LussisEntities" connectionString="metadata=res://*/LussisModel.csdl|res://*/LussisModel.ssdl|res://*/LussisModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Lussis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <!-- Role-Directory Mappings -->
  <location path="Department/Deputy">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="DepartmentDeputy"/>
      </authorization>
    </system.web>
  </location>
  <location path="Department/Employee">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="DepartmentEmployee"/>
      </authorization>
    </system.web>
  </location>
  <location path="Department/Head">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="DepartmentHead"/>
      </authorization>
    </system.web>
  </location>
  <location path="Department/Representative">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="DepartmentRepresentative"/>
      </authorization>
    </system.web>
  </location>
  <location path="Store/Clerk">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="StoreClerk"/>
      </authorization>
    </system.web>
  </location>
  <location path="Store/Manager">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="StoreManager"/>
      </authorization>
    </system.web>
  </location>
  <location path="Store/Supervisor">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="StoreSupervisor"/>
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

  <!-- For WCF Service -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>

      <!-- For Json Service -->
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />

    <!-- For Json Service -->
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="endpointBehavior"
                  binding="webHttpBinding" contract="IService" />
        <endpoint contract="IMetadataExchange"
                  binding="mexHttpBinding" address="mex" />
      </service>
    </services>


  </system.serviceModel>
</configuration>