<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <!-- To enable Forms Authentication -->
    <authentication mode="Forms" />
    <roleManager enabled="true" />
  </system.web>

  <!-- For JQuery Issue -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <!-- Database Connectivity -->
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add connectionString="Data Source=(local);Initial Catalog=Lussis;Integrated Security=True" name="LocalSqlServer" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Role Mapping TODO : CHANGE THIS 
  <location path="Customer">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="user" />
      </authorization>
    </system.web>
  </location>
  -->

</configuration>
