<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="LUSSIS_Backend.Properties.Settings.LussisConnectionString" connectionString="Data Source=(local);Initial Catalog=Lussis;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LussisEntities" connectionString="metadata=res://*/LussisModel.csdl|res://*/LussisModel.ssdl|res://*/LussisModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Lussis;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>